<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #eeb100;
        padding: 10px 20px;
        text-align: center;
        color:black;
      }
      .header p{
        margin: 0;
        font-size: 24px;
        font-family:Georgia, 'Times New Roman', Times, serif;
      }
      .content {
        padding: 20px;
        text-align: center;
      }
      .content h2 {
        color: #333;
        font-size: 22px;
        margin-bottom: 10px;
        
      }
      .content p {
        color: #666;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .footer {
        padding: 20px;
        text-align: center;
        color: #999;
        font-size: 14px;
        background-color: #f4f4f4;
      }

    </style>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>ArewaXtra</p>
        <span>Registration Successful</span>
      </div>
      <div class="content">
        <h3>Welcome to Arewaxtra Online Store</h3>
        <p>Welcome to Arewaxtra. We are pleased to have you. Please keep your eyes peeled for the verification link which you will recieve soon. Check our amazing products out and shop.</p>
      </div>
      <div class="footer">
        <p>
          If you didn’t request this email, please ignore it. This email is only
          valid for 24 hours.
        </p>
        <p>&copy; 2024 Arewaxtra. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>




